.side-bar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 77px;
  z-index: 2  ;
}

.sidebar-link {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
}

.sidebar-link img {
  height: 28px;
  margin-bottom: 5px;
  
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 11px;
}